<template>
  <div class="product container">
    <br>
    <br>
    <img src="/product-1.jpg" alt>
  </div>
</template>

<script>
export default {
  created() {
    document.title = "YNF | Home";
  }
};
</script>