<template>
  <div class="collections container">
    <br>
    <br>
    <div class="columns" v-for="products in chunkedProducts" :key="products.index">
      <div class="column product-grid-item" v-for="product in products" :key="product.id">
        <a :href="product.href">
          <img :src="product.image" alt>
          <span class="name">{{ product.name }}</span>
          <span class="collection">{{ product.collection }}</span>
          <span class="price">{{ product.price | currency('₩', 0) }}</span>
        </a>
      </div>
      <div class="column product-grid-item" v-if="products.length <= 1"></div>
      <div class="column product-grid-item" v-if="products.length <= 2"></div>
      <div class="column product-grid-item" v-if="products.length <= 3"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  created() {
    this.getProducts();
  },
  computed: {
    chunkedProducts() {
      return _.chunk(this.products, 4);
    }
  },
  watch: {
    $route(to, from) {
      this.getProducts();
    }
  },
  methods: {
    getProducts: function() {
      let collectionName = this.$route.params.lineup;
      document.title = 'YNF | Collection | ' + collectionName.charAt(0).toUpperCase() + collectionName.slice(1);
      axios
        .get("http://localhost:3000/api/" + collectionName)
        .then(response => {
          this.products = response.data;

          this.products.forEach(element => {
            element.image = "/products/" + element.image;
            element.href = "/collections/product/" + element.id;
          });
        });
    }
  },
  data() {
    return {
      products: []
    };
  }
};
</script>

<style>
.product-grid-item {
  text-align: center;
}
.product-grid-item a {
  display: block;
  color: black;
  text-decoration: none;
}
.product-grid-item span {
  display: block;
}
.product-grid-item span.name {
  font-size: 1.2em;
  text-decoration: underline;
}
.product-grid-item span.collection {
  font-size: 0.9em;
  color: gray;
}
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: red;
}
</style>