<template>
  <div class="product container">
    <br>
    <br>
    <div class="columns">
      <div class="column">
        <img src="/product-detail.jpg" alt>
      </div>
      <div class="column">
        <h1 class="title">D.A.P</h1>
        <h2 class="subtitle">Carmen Winant: My Birth</h2>
        <h3 class="title is-3">$50</h3>
        <p class="has-text-grey-light">Description</p>A gorgeous paperback combining text and image, My Birth, by Columbus, Ohio–based artist Carmen Winant, interweaves photographs of the artist's mother giving birth to her three children with found images of other, anonymous, women undergoing the same experience. As the pictorial narrative progresses, from labor through delivery, the women's postures increasingly blend into one another, creating a collective body that strains and releases in unison. In addition to the photographic sequence, My Birth includes an original text by the artist exploring the shared, yet solitary, ownership of the experience of birth.
        <div class="columns button-wrap">
          <div class="column">
            <input class="button is-fullwidth" type="submit" value="Wish">
          </div>
          <div class="column">
            <input class="button is-fullwidth is-black" type="reset" value="Cart">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    document.title = "YNF | D.A.P";
  }
};
</script>

<style>
.button-wrap {
  margin-top: 2em;
}
</style>